---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

import Global from "../../components/GlobalDropdownMenu.astro";
import Social from "../../components/NavSocialLink.astro"
import FormattedDate from "../../components/FormattedDate.astro";
import Body from "../../layouts/Body.astro";
import GoBack from "../../components/GoBack.astro";

import { slide } from 'astro:transitions';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

import Date from "~icons/material-symbols/date-range";

const posts = (await getCollection('article')).filter(post => !!post.data.pubDate).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const allTags = posts.reduce((old, post) => [...old, ...post.data.tags], []);
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="lg:my-20 my-8 flex flex-col gap-3 items-start">
      <GoBack onClick="window.history.back()" />
      <h1 class="text-[var(--gray-12)] text-3xl md:text-5xl xl:text-7xl font-[800]">VT's dev log</h1>
      <p class="text-[var(--gray-11)] mb-2">Mostly focused on quite low level software-engineering stuff.</p>
      <div class="flex gap-2">{allTags.map(tag => <tag-pill href={`/articles/tags/${tag}`}>{tag}</tag-pill>)}</div>
    </div>
		<section>
					{
						posts.map((post) => (
                <div class="mb-6 border-b border-[var(--gray-10)] pb-12 last:border-0">
                  <article>
                    <a href={`/articles/${post.id}`} class="post-link group">
                      <h2 class="mb-4 text-3xl text-[var(--gray-12)] font-semibold mt-4 group-hover:text-[var(--red-11)] group-hover:underline" transition:name={`post-title-${post.id}`}>{post.data.title}</h4>
                      <p class="mb-4 text-[var(--blue-11)] max-w-[55ch]">{post.data.description}</p>
                      <div class="mb-6 flex items-center gap-2 text-[var(--gray-11)]">
                        <Fragment set:html={Date} /> <FormattedDate date={dayjs(post.data.pubDate).utc().startOf("day")} />
                      </div>
                      <button class="group-hover:underline text-[var(--red-11)] mb-4">Read more</button>
                    </a>
                    <div class="flex gap-2">
                      {post.data.tags.map(tag => (
                        <tag-pill href={`/articles/tags/${tag}`}>{tag}</tag-pill>
                      ))}
                    </div>
                  </article>
                </div>
              )
						)
					}
    </section>
  </Body>
</html>
