---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

import Global from "../../components/GlobalDropdownMenu.astro";
import Social from "../../components/NavSocialLink.astro"
import FormattedDate from "../../components/FormattedDate.astro";
import Body from "../../layouts/Body.astro";
import BackArrow from "~icons/material-symbols/arrow-left-alt-rounded";

import { slide } from 'astro:transitions';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import Date from "~icons/material-symbols/date-range";

const posts = (await getCollection('article')).filter(post => !!post.data.pubDate).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );

  const postsWithoutContent = posts.map(post => ({
  ...post.data,
  content: undefined
  }))
 //class="md:grid flex flex-col md:grid-cols-2 gap-x-4 gap-y-10"
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="lg:my-24 my-8 flex flex-col gap-3 items-start">
      <a href="/" class="text-gray-400 hover:bg-gray-800 px-3 py-2 rounded-md inline-flex gap-3 items-center cursor-pointer" transition:name="back-btn"><Fragment set:html={BackArrow} /> Go back</a>
      <h1 class="text-white text-3xl md:text-5xl xl:text-7xl font-[800]">VT's Articles</h1>
      <p class="text-gray-400">Mostly focused on quite low level software-engineering stuff.</p>
    </div>
		<section>
					{
						posts.map((post) => (
                <div class="mb-6 border-b border-gray-800 pb-12 last:border-0">
                  <a href={`/articles/${post.id}`} class="post-link group">
                    <article>
                      <!--<Image width={720} height={360} src={post.data.heroImage} alt="" transition:name={`img-${post.data.title.replace(" ", "_")}`} />-->
                      <h2 class="mb-4 text-3xl text-white font-semibold mt-4 group-hover:text-[var(--blue-indicator)]" transition:name={`post-title-${post.id}`}>{post.data.title}</h4>
                      <p class="mb-4 text-[var(--blue-11)] max-w-[55ch]">{post.data.description}</p>
                      <div class="mb-6 flex gap-2 text-gray-200">
                        <Fragment set:html={Date} /> <FormattedDate date={post.data.pubDate} />
                      </div>
                      <button class="group-hover:underline text-purple-300">Read more</button>
                    </article>
                  </a>
                </div>
              )
						)
					}
    </section>
  </Body>
</html>

