---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import BaseHead from '../../components/BaseHead.astro';
import Body from "../../layouts/Body.astro";
import GoBack from "../../components/GoBack.astro";

import { getCollection } from 'astro:content';

import BlogPost from "../../components/BlogPost.astro";
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import TagPill from '../../components/TagPill.astro';

const posts = (await getCollection('article')).filter(post => !!post.data.pubDate).sort(
  (a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
);

const allTags: string[] = posts.reduce((old, current) => {return [...old, ...current.data.tags]}, []);
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Navbar />
    <main>
      <div class="flex flex-col gap-2 items-start">
        <div class="flex justify-between w-full items-center">
          <GoBack onClick="window.history.back()" />
        </div>
        <h1 class="mt-8 text-[var(--gray-12)] text-3xl md:text-5xl xl:text-7xl font-[800]">VT's dev log</h1>
        <p class="text-[var(--gray-11)] mb-2">Mostly focused on quite low level software-engineering stuff.</p>
        <div class="flex gap-2">{allTags.map(tag => <a href={`/logs/tags/${tag}`}><TagPill>{tag}</TagPill></a>)}</div>
      </div>
      <section>
        {posts.map((post) => <BlogPost post={post} />)}
      </section>
      <Footer />
    </main>
  </Body>
</html>

<style>
  .search-form {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    input {
      outline: none;
      font-size: 1.2rem;
      color: var(--blue-12);
    }
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 6rem;
  }
</style>
