---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { type CollectionEntry, getCollection } from 'astro:content';

import {listTags} from "../../../utils/reordertaggedArticles";

export async function getStaticPaths() {
	const posts = (await getCollection('article')).filter(post => process.env.NODE_ENV == "development" || !!post.data.pubDate);

  const result = listTags(posts);

  return Object.keys(result).map((tag) => {
    return {
      params: { tag },
      props: {posts: [...result[tag]], tag},
	  }
  });
}
type Props = {posts: CollectionEntry<'article'>[], tag: string};

const props = Astro.props;

import BaseHead from '../../../components/BaseHead.astro';

import Body from "../../../layouts/Body.astro";
import GoBack from "../../../components/GoBack.astro";
import FormattedDate from "../../../components/FormattedDate.astro";

import Date from "~icons/material-symbols/date-range";
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <div class="lg:my-20 my-8 flex flex-col gap-3 items-start">
      <GoBack onClick="window.history.back()" />
      <h1 class="text-[var(--gray-12)] text-3xl md:text-4xl xl:text-5xl font-[800]">VT's dev log `{props.tag}`</h1>
      <p class="text-[var(--gray-11)] mb-2">Mostly focused on quite low level software-engineering stuff.</p>
    </div>
		<section>
					{
						props.posts.map((post) => {
                return (
                  <a class="text-[var(--gray-12)] group last:mb-0 mb-2 block" href={`/articles/${post.id}`}>
                    <article class="flex gap-2 items-center hover:bg-[var(--blue-4)] p-1 rounded-lg">
                      <p class="group-hover:underline flex gap-1 items-center"><Fragment set:html={Date} /><FormattedDate date={post.data.pubDate!} /></p>
                      -
                      <h2 class="group-hover:underline font-semibold">{post.data.title}</h2>
                    </article>
                  </a>
                )
              }
						)
					}
    </section>
  </Body>
</html>

