---
import '../styles/global.scss';
import { SITE_TITLE } from '../consts';


interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>

<!-- Font preloads -->
<link rel="preload" href="/fonts/inter.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/inter-italic.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title class="no-print">{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{!!image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta property="twitter:card" content={!!image ? "summary_large_image" : "summary"} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{!!image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}

<script is:inline src="/js/components.js" type="module"></script>
<link rel="stylesheet" href="/css/tailwind.css" />

<script type="module" is:inline>
  const els = document.querySelectorAll("[data-email-href]");

  const data = atob("dmluY2VudEB2LXRob21hcy5jb20=");
  for (const el of els) {
    el.setAttribute("href", `mailto:${data}`);
  }
  const els2 = document.querySelectorAll("[data-email-inner]");
  for (const el of els2) {
    el.textContent = data;
  }
</script>
