---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

import Date from "~icons/material-symbols/date-range";

export interface Props {
  post: CollectionEntry<"article">;
}

const {post} = Astro.props;

let title = post.id.replaceAll("-", " ");
title = title.charAt(0).toUpperCase() + title.slice(1);
---

<div class="mb-6 border-b border-[var(--gray-10)] pb-12 last:border-0" transition:name={`post-${post.id}`}>
  <article>
    <a href={`/logs/${post.id}`} class="group">
      <h2 class="text-3xl text-[var(--gray-12)] font-semibold mt-4 group-hover:text-[var(--red-11)] group-hover:underline" transition:name={`post-title-${post.id}`}>{title}</h4>
      <p class="mt-4 text-[var(--blue-11)] max-w-[55ch]">{post.data.description}</p>
      <div class="mt-4 flex items-center gap-2 text-[var(--gray-11)]">
        <Fragment set:html={Date} /> <FormattedDate date={post.data.pubDate!} />
      </div>
      <span class="mt-6 group-hover:underline text-[var(--red-11)] mb-4 block">Read more</span>
    </a>
    <div class="flex gap-2">
      {post.data.tags.map(tag => <tag-pill href={`/logs/tags/${tag}`}>{tag}</tag-pill>)}
    </div>
  </article>
</div>
