---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

import { Icon } from "astro-icon/components";
import TagPill from "./TagPill.astro";

export interface Props {
  post: CollectionEntry<"article">;
}

const {post} = Astro.props;

let title = post.id.replaceAll("-", " ");
title = title.charAt(0).toUpperCase() + title.slice(1);
---

<article>
  <a href={`/logs/${post.id}`}>
    <h2>{title}</h4>
    <p>{post.data.description}</p>
    <div class="date">
      <Icon name="calendar" size="20px" />
      <FormattedDate date={post.data.pubDate!} />
    </div>
    <span class="read-more">Read more</span>
  </a>
  <div class="tags">
    {post.data.tags.map(tag => <TagPill href={`/logs/tags/${tag}`}>{tag}</TagPill>)}
  </div>
</article>
<style lang="scss">
  article > a {
    display: block;
    padding: 1.5rem;
    padding-bottom: 0;
  }
  article {
    margin-bottom: 2.5rem;
    border-radius: 1rem;

    &:hover {
      outline: 1px solid var(--blue-6);
      background-color: var(--blue-3);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  h2 {
    font-size: 1.875rem;
    color: var(--gray-12);
    font-weight: 600;
  }

  p {
    color: var(--gray-11);
    max-width: 55ch;
    margin-top: 1rem;
  }

  .date {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-11);
  }

  .read-more {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: block;

    color: var(--blue-11);
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    padding: 1.5rem;
    padding-top: 0;
  }


  a:hover {
    h2 {
      text-decoration: underline;
      color: var(--blue-11);
    }

    .read-more {
      text-decoration: underline;
    }
  }
</style>
