---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

import Date from "~icons/material-symbols/date-range";

export interface Props {
  post: CollectionEntry<"article">;
}

const {post} = Astro.props;

let title = post.id.replaceAll("-", " ");
title = title.charAt(0).toUpperCase() + title.slice(1);
---

<article>
  <a href={`/logs/${post.id}`}>
    <h2>{title}</h4>
    <p>{post.data.description}</p>
    <div class="date">
      <Fragment set:html={Date} /> <FormattedDate date={post.data.pubDate!} />
    </div>
    <span class="read-more">Read more</span>
  </a>
  <div class="tags">
    {post.data.tags.map(tag => <tag-pill href={`/logs/tags/${tag}`}>{tag}</tag-pill>)}
  </div>
</article>
<style lang="scss">
  article {
    border-bottom: 1px solid var(--gray-10);
    padding-bottom: 1.5rem;

    &:last-child {
      border-bottom: none;
    }
  }

  h2 {
    font-size: 1.875rem;
    color: var(--gray-12);
    font-weight: 600;
    margin-top: 1rem;
  }

  p {
    color: var(--gray-11);
    max-width: 55ch;
    margin-top: 1rem;
  }

  .date {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-11);
  }

  .read-more {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: block;

    color: var(--red-11);
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }


  a:hover {
    h2 {
      text-decoration: underline;
      color: var(--red-11);
    }

    .read-more {
      text-decoration: underline;
    }
  }
</style>
