---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { type CollectionEntry } from 'astro:content';
import { notFound } from '../../../utils/redirect';

import { getLogsFromTag } from "../../../utils/logs";

const tag = Astro.params.tag as string;
const logs = await getLogsFromTag(tag);

if (logs.length === 0) {
  return notFound();
}

type Props = {posts: CollectionEntry<'article'>[], tag: string};

const props = {
  posts: logs,
  tag,
};

import BaseHead from '../../../components/BaseHead.astro';

import Body from "../../../layouts/Body.astro";
import GoBack from "../../../components/GoBack.astro";
import FormattedDate from "../../../components/FormattedDate.astro";

import Navbar from '../../../components/Navbar.astro';
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Navbar />
    <div class="lg:my-20 my-8 flex flex-col gap-3 items-start">
      <GoBack href="/logs/tags" />
      <h1 class="text-[var(--gray-12)] text-3xl md:text-4xl xl:text-5xl font-[800]">VT's dev log `{props.tag}`</h1>
      <p class="text-[var(--gray-11)] mb-2">Mostly focused on quite low level software-engineering stuff.</p>
    </div>
		<section>
      {props.posts.map((post) => {
        let title = post.id.replaceAll("-", " ");
        title = title.charAt(0).toUpperCase() + title.slice(1);
        return (
          <a class="text-[var(--gray-12)] group last:mb-0 mb-2 block" href={`/logs/${post.id}`}>
            <article class="flex gap-2 items-center hover:bg-[var(--blue-4)] p-1 rounded-lg">
              <p class="group-hover:underline flex gap-1 items-center">
                <Icon name="calendar" size="20px" />
                <FormattedDate date={post.data.pubDate!} />
              </p>
              -
              <h2 class="group-hover:underline font-semibold">{title}</h2>
            </article>
          </a>
        );
      })}
    </section>
  </Body>
</html>

