---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Body from "./Body.astro";
import GoBack from "../components/GoBack.astro";

import LdHead from '../components/LdHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';


export type Props = CollectionEntry<'article'> & { minuteRead: number, lastModified: Date };

const { data: {description, pubDate, heroImage, heroImageDescription, tags,furtherReading} , minuteRead, id, lastModified }: Props = Astro.props;

if (!pubDate) throw new Error("Missing pubDate");

let title = id.replaceAll("-", " ");
title = title.charAt(0).toUpperCase() + title.slice(1);
---

<html lang="en">
	<head>
    <BaseHead title={title} description={description} image={heroImage} />
    <LdHead title={title} description={description} image={heroImage} pubDate={pubDate} />
	</head>
  <Body>
    <Navbar overrideTitle="VT's dev log" />
    <article class="mt-12  flex flex-col gap-7">
      <div class="flex flex-col gap-4">
        <div class="mb-6 no-print">
          <GoBack onClick="window.history.back()" />
        </div>
        {heroImage && <img width={952} height={554} src={heroImage} alt={heroImageDescription} class="rounded-lg" transition:name={`img-${title.replace(" ", "_")}`}  />}
        <div class="flex justify-between">
          <div class="text-gray-400 max-w-[45ch] flex flex-col">
            <p>{pubDate ? <>Published <FormattedDate date={pubDate} /></> : "Private draft"}</p>
            {pubDate != lastModified && (
              <p class="mt-1">
                Last updated <FormattedDate date={lastModified} />
              </p>
            )}
          </div>
          <span class="text-gray-400">{minuteRead} minute read</span>
        </div>
      </div>
      <h1 class="text-[var(--blue-indicator)] font-[800] md:text-5xl text-2xl text-left" transition:name={`post-title-${id}`}>{title}</h1>
      <div class="flex lg:flex-row flex-col justify-between lg:items-end gap-4">
        <p class="text-gray-400 max-w-[45ch] text-left">{description}</p>
        <div class="flex flex-wrap max-w-[300px] gap-3 items-center no-print">
          {tags!.map(tag => <a href={`/logs/tags/${tag}`}><tag-pill>{tag}</tag-pill></a>)}
        </div>
      </div>
      <hr class="no-print" />
      <div class="prose w-full max-w-[unset] dark:prose-invert">
        <slot/>
        {!!furtherReading && (
          <h2 id="further-reading"><a href="#further-reading">Further reading</a></h2>
          <p>
            These articles allow for further reading of the same topic, and may be relevant:
            <ul>
              {furtherReading.map(({url, title}) => (
                  <li><a href={url} target="_blank">{title}</a></li>
              ))}
            </ul>
          </p>
        )}
      </div>
      <style is:global>
        /*KaTeX plugin needs this*/
        *[aria-hidden="true"] {
          display: none;
        }
      </style>
    </article>
    <Footer />
  </Body>
</html>
