---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Body from "./Body.astro";
import BackArrow from "~icons/material-symbols/arrow-left-alt-rounded";

type Props = CollectionEntry<'blog'>['data'] | { wordCount: number };

const { title, description, pubDate, updatedDate, heroImage, wordCount, id } = Astro.props;

const minuteRead = wordCount / 238;

const minuteReadLow = Math.floor(minuteRead);
const minuteReadHigh = Math.ceil(minuteRead);
---

<html lang="en">
	<head>
    <BaseHead title={title} description={description} />
	</head>
  <Body>
    <article class="flex flex-col gap-7">
      <div class="mt-12 flex flex-col gap-4">
        <div class="mb-6">
          <a href="/articles" class="text-gray-400 hover:bg-gray-800 px-3 py-2 rounded-md inline-flex gap-3 items-center cursor-pointer" transition:name="back-btn"><Fragment set:html={BackArrow} /> Go back</a>
        </div>
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" class="rounded-lg" transition:name={`img-${title.replace(" ", "_")}`}  />}
        <div class="flex justify-between">
          <div class="text-gray-400 max-w-[45ch] flex flex-col">
             <p>
             {pubDate ? <>Published <FormattedDate date={pubDate} /></> : "Draft"}
              <p> 
            {updatedDate && (
              <p class="mt-1">
                Last updated <FormattedDate date={updatedDate} />
              </p>
            )}
          </div>
          <span class="text-gray-400 max-w-[45ch]">{minuteReadLow}-{minuteReadHigh} minute read</span>
        </div>
      </div>
      <h1 class="text-[var(--blue-indicator)] font-[800] text-6xl">{title}</h1>
      <div class="flex justify-between">
        <p class="text-gray-400 max-w-[45ch]">{description}</p>
      </div>
      <hr class="text-[var(--blue-indicator)]" />
      <div class="prose w-full max-w-[unset] dark:prose-invert">
        <slot/>
      </div>
      <style is:global lang="scss">
        // KaTeX plugin needs this
        *[aria-hidden="true"] {
          display: none;
        }
      </style>
    </article>
	</Body>
</html>
