---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Body from "./Body.astro";
import GoBack from "../components/GoBack.astro";
import {Image} from "astro:assets";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

type Props = CollectionEntry<'article'>['data'] | { minuteRead: number, lastModified: Date };

const { title, description, pubDate, heroImage, heroImageDescription, tags, furtherReading, minuteRead, id, lastModified } = Astro.props;

const lastModified2 = dayjs(lastModified).utc().startOf("day");
const pubDate2 = dayjs(pubDate).utc().startOf("day");

---

<html lang="en">
	<head>
    <BaseHead title={title} description={description} />
	</head>
  <Body>
    <article class="flex flex-col gap-7">
      <div class="mt-12 flex flex-col gap-4">
        <div class="mb-6">
          <GoBack onClick="window.history.back()" />
        </div>
        {heroImage && <img width={952} height={554} src={heroImage} alt={heroImageDescription} class="rounded-lg" transition:name={`img-${title.replace(" ", "_")}`}  />}
        <div class="flex justify-between">
          <div class="text-gray-400 max-w-[45ch] flex flex-col">
             <p>
             {pubDate ? <>Published <FormattedDate date={pubDate2} /></> : "Private draft"}
              <p>
            {pubDate != lastModified && (
              <p class="mt-1">
                Last updated <FormattedDate date={lastModified2} />
              </p>
            )}
          </div>
          <span class="text-gray-400">{minuteRead} minute read</span>
        </div>
      </div>
      <h1 class="text-[var(--blue-indicator)] font-[800] text-6xl" transition:name={`post-title-${id}`}>{title}</h1>
      <div class="flex justify-between">
        <p class="text-gray-400 max-w-[45ch]">{description}</p>
        <div class="flex flex-wrap max-w-[300px] gap-3 items-center">
          {tags.map(tag => <tag-pill href={`/articles/tags/${tag}`}>{tag}</tag-pill>)}
        </div>
      </div>
      <hr class="text-[var(--blue-indicator)]" />
      <div class="prose w-full max-w-[unset] dark:prose-invert">
        <slot/>
        {!!furtherReading && (
          <h2 id="further-reading"><a href="#further-reading">Further reading</a></h2>
          <p>
            These articles allow for further reading of the same topic, and may be relevant:
            <ul>
              {furtherReading.map(({url, title}) => (
                  <li><a href={url} target="_blank">{title}</a></li>
              ))}
            </ul>
          </p>
        )}
      </div>
      <style is:global lang="scss">
        // KaTeX plugin needs this
        *[aria-hidden="true"] {
          display: none;
        }
      </style>
    </article>
	</Body>
</html>
