---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Body from "./Body.astro";
import GoBack from "../components/GoBack.astro";

import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Icon from '../components/Icon.astro';

export type Props = CollectionEntry<'project'> & { lastModified: Date };

const { data, id, lastModified }: Props = Astro.props;
---

<html lang="en">
	<head>
    <BaseHead title={data.title} description={data.description} />
	</head>
  <Body>
    <Navbar overrideTitle="VT's projects" />
    <article>
      <div class="container">
        <div class="backbtn-wrapper no-print">
          <GoBack onClick="window.history.back()" />
        </div>
        <p class="date">
          Last updated <FormattedDate date={lastModified} />
        </p>
      </div>
      <h1 class="title md:text-4xl lg:text-left">
        {id}: {data.title}
      </h1>
      <p class="description">{data.description}</p>
      <div class="btn-container">
        <a href={`https://github.com/${data.repo}`} class="link">
          <Icon icon="github" size="sm" />
          <span>View on GitHub</span>
        </a>
        {!!data.logPost && <a href={`/logs/${data.logPost}`} class="link">
          <span>Read the blogpost</span>
        </a>}
        <div class="btn-container no-print">{data.languages!.map(tag => (<tag-pill href={`/logs/tags/${tag}`}>{tag}</tag-pill>))}</div>
        <div class="license">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" class="icon"><path d="M8.75.75V2h.985c.304 0 .603.08.867.231l1.29.736c.038.022.08.033.124.033h2.234a.75.75 0 0 1 0 1.5h-.427l2.111 4.692a.75.75 0 0 1-.154.838l-.53-.53.529.531-.001.002-.002.002-.006.006-.006.005-.01.01-.045.04c-.21.176-.441.327-.686.45C14.556 10.78 13.88 11 13 11a4.498 4.498 0 0 1-2.023-.454 3.544 3.544 0 0 1-.686-.45l-.045-.04-.016-.015-.006-.006-.004-.004v-.001a.75.75 0 0 1-.154-.838L12.178 4.5h-.162c-.305 0-.604-.079-.868-.231l-1.29-.736a.245.245 0 0 0-.124-.033H8.75V13h2.5a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h2.5V3.5h-.984a.245.245 0 0 0-.124.033l-1.289.737c-.265.15-.564.23-.869.23h-.162l2.112 4.692a.75.75 0 0 1-.154.838l-.53-.53.529.531-.001.002-.002.002-.006.006-.016.015-.045.04c-.21.176-.441.327-.686.45C4.556 10.78 3.88 11 3 11a4.498 4.498 0 0 1-2.023-.454 3.544 3.544 0 0 1-.686-.45l-.045-.04-.016-.015-.006-.006-.004-.004v-.001a.75.75 0 0 1-.154-.838L2.178 4.5H1.75a.75.75 0 0 1 0-1.5h2.234a.249.249 0 0 0 .125-.033l1.288-.737c.265-.15.564-.23.869-.23h.984V.75a.75.75 0 0 1 1.5 0Zm2.945 8.477c.285.135.718.273 1.305.273s1.02-.138 1.305-.273L13 6.327Zm-10 0c.285.135.718.273 1.305.273s1.02-.138 1.305-.273L3 6.327Z"></path></svg>
          <span>{data.license} license</span>
        </div>
      </div>
      <hr class="no-print" />
      <div class="prose dark:prose-invert" style={{maxWidth: "unset"}}>
        <slot/>
      </div>
    </article>
    <Footer />
  </Body>
</html>

<style>
 article {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
 }
 .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .backbtn-wrapper {
   margin-bottom: 1.5rem;
 }

 .date {
   color: var(--gray-11);
   margin-top: 0.25rem;
 }

 .title {
    color: var(--blue-11);
    font-weight: 800;
    font-size: 2.25rem;
 }
  .description {
      color: var(--gray-12);
      text-align: left;
  }

  .btn-container {
    display: flex;
    gap: 1rem;
  }

  .link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--blue-12);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--blue-10);
  }

  .license {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    align-items: center;

    color: var(--gray-11);
    .icon {
      fill: var(--gray-11);
    }
  }
</style>

<style is:global>
  /*KaTeX plugin needs this*/
  *[aria-hidden="true"] {
    display: none;
  }
</style>
